body{
    background-color: #242424;
    margin: 0;
  height: 100%;
  display: flex;
  justify-content: center; /* Horizontal center */
  align-items: center; /* Vertical center */
}

.todo-container{
    background-color: #242424;
    color: indianred;
    align-items: center;
    text-align: center;
    border-radius: 10px;
    padding: 15px;
    margin: 1em auto;
}

.header{
    font-size: 4em;
    font-weight: bold;
}

.input-container{
    padding: 20px;
    
    
    
}
.input{
    border-radius: 6px;
    font-size: 1em;
    font-weight: bold;
    height: 2em;
    width: 25em;
    text-align: center;
    
}
.add-btn{
    padding: 9px;
    border-radius: 5px;
    border: none;
    margin-left: 10px;
    color: black;
    background-color: indianred;
    cursor: pointer;
    width: 70px;
}
.list-task{
    color: aquamarine;
  font-style: italic;
  font-family: 'Lucida Sans', sans-serif;
  padding: 5px;
  border: 1px solid whitesmoke;
  border-radius: 30px;
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  width: 470px;
  margin: 10px; 
  

}
.delete-btn{
    margin-left: 10px;
  background-color: red;
  color: white;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
  border-radius: 20px;
}
.edit-btn{
    cursor: pointer;
  border-radius: 20px;
  border: none;
  background-color: rgb(133, 127, 245);
  color: white;
  padding: 8px 24px;
  margin-left: auto;
}
.save-btn{
  cursor: pointer;
border-radius: 20px;
border: none;
background-color: rgb(54, 122, 55);
color: white;
padding: 8px 24px;
margin-left: auto;
}